{% extends 'index.html' %}
{% load static %}

<body>

{% block content %}  
<!-- ======= Mascotas Section ======= -->

  <table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Sexo</td>
			<td>Edad</td>
			<td>Descripción</td>
			<td>Foto</td>
			<td></td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
      {% for mascota in object_list %}
        {% if mascota.estado == 0%}
          <tr>
            <td>{{ mascota.id }}</td>
            <td>{{ mascota.nombre }}</td>
            <td>{{ mascota.sexo }}</td>
            <td>{{ mascota.edad }}</td>
            <td>{{ mascota.descripcion }}</td>
            <td>
            <td>{{ mascota.foto}}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'adoptar' mascota.id %}">Adoptar</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
		
		{% else %}
		<h1>No hay registros de mascotas</h1>
		{% endif %}
	</tbody>
</table>
  
 
{% endblock %}
  
  

</body>

</html>