{% extends 'index.html' %}
{% load static %}

<body>

{% block content %}  
<!-- ======= Mascotas Section ======= -->
  <Main>

    <section id="adopciones" class="section-bg">

        <div class="container">

          <div class="section-header">
            <h3 class="section-title">Transito</h3>
            <span class="section-divider"></span>
            <p class="section-description">Aquí encotraras las mascotas que requieren transito</p>
          </div>
          <div class="row">
            {% if object_list %}
              {%for a in object_list %}
                {% if a.estado = 0 %}
                  <div class="col-lg-4 col-md-6">
                    <div class="box wow fadeInLeft">
                      <h3>{{a.nombre}}</h3>
                      <h2><sup>{{a.edad}}</sup></h2>
                      <ul>
                        <li><i class="ion-android-checkmark-circle"></i> {{a.imagen}}</li>
                        <li><i class="ion-android-checkmark-circle"></i> {{a.descripcion}}</li>
                        {%if a.vacunas %}
                          <li><i class="ion-android-checkmark-circle"></i> Vacunas al día</li>
                        {%endif%}
                        {%if a.castracion %}
                          <li><i class="ion-android-checkmark-circle"></i> Esta castrado</li>
                        {%endif%}
                        {%if a.atencion_especial %}
                          <li><i class="ion-android-checkmark-circle"></i> {{a.des_at_especial}}</li>
                        {%endif%}
                      </ul>
                      <a class= "btn btn-primary"href={% url 'adoptar' a.a_mascotas %}> Dar transito </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {%endif%}
          
          </div>
        </div>

    </section><!-- End Pricing Section -->

  </Main>
 
{% endblock %}
  
  

</body>

</html>