{% extends 'index.html' %}
{% load static %}

<body>

  {% block content %}  

    <form id="msform" method="post">
      <fieldset>
      <h2 class="fs-title">Iniciar secion</h2>
      <h3 class="fs-subtitle"></h3>
      <input type="text" name="email" placeholder="Email" />
      <input type="password" name="pass" placeholder="Contraseña" />
      <input type="button" name="Ingresar" class="next action-button" value="Ingresar" />
      </fieldset>
    </form>


  {% endblock %}


</body>

</html>