{% extends 'index.html' %}
{% load static %}

  

<body>

  {% block content %}  
    {% csrf_token %}
        <!-- multistep form -->
    <form id="msform" action= 'inicio' method="post">
    <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Cuenta</li>
        <li>Datos personales</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Crea tu cuenta</h2>
        <h3 class="fs-subtitle">Paso 1</h3>
        Email
        {{form.email}}
        Contraseña        
        {{form.password1}}
        Confirmar contraseña
        {{form.password2}}
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Ingresa tus datos personales</h2>
        <h3 class="fs-subtitle">Paso 2</h3>
        Nombre
        {{form.first_name}}
        Apellido
        {{form.last_name}}
        Telefono
        {{form.telefono}}
        Direccion
        {{form.direccion}}
        <input type="submit" name="submit" class="submit action-button" value="Crear cuenta" />
      </fieldset>
    
    </form>

  {% endblock %}

    

  </body>
</html>