{% extends 'index.html' %}
{% load static %}

  

<body>

  {% block content %}  
    {% csrf_token %}
        <!-- multistep form -->
    <form id="msform"  method="post">
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    <!-- progressbar -->
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Crea tu cuenta</h2>
        <h3 class="fs-subtitle">Paso 1</h3>
        Email
        {{form.username}}
        Contraseña        
        {{form.password1}}
        Confirmar contraseña
        {{form.password2}}
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Ingresa tus datos personales</h2>
        <h3 class="fs-subtitle">Paso 2</h3>
        Nombre
        {{form.first_name}}
        Apellido
        {{form.last_name}}
        Telefono
        {{form.telefono}}
        Direccion
        {{form.direccion}}
        <input type="submit" name="submit" class="submit action-button" value="Crear cuenta" href="{% url 'inicio' %}"/>
      </fieldset>
    
    </form>

  {% endblock %}

    

  </body>
</html>